<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6GC1GbIoto2d4X8DrzfQA10SXpIkZMyg</string>
	<key>GCM_SENDER_ID</key>
	<string>690502753445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apnidiaries.app</string>
	<key>PROJECT_ID</key>
	<string>apnidiaries-2ab18</string>
	<key>STORAGE_BUCKET</key>
	<string>apnidiaries-2ab18.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690502753445:ios:24a0e990cfb096167f414c</string>
</dict>
</plist>